{% extends "layout.html" %}
{% block title 'Accueil' %}
{% block content %}
    <div class="large-background-slider">
        <div class="mini-wrap">
            <div class="home-slider">
                <h2 class="title">Scooters en libre-service à Paris</h2>
                <div class="bloc">
                    <p class="p-bloc">Scootlib' est le premier service public de scooters <br>
                        électriques en libre service disponible en région Île-de-France.
                        <br>De nombreuses formules s'adaptant à tous vos besoins sont à votre disposition
                    </p>
                </div>
                <img class="img-scooter" src="../web/img/image-scooter.jpg" alt="liste">

                <ul class="slider-list">
                    <li class="slider-item">
                        <div class="bg"></div>
                        <div class="content-box">
                            <div class="content">

                            </div>
                        </div>
                    </li>
                </ul>
                <div class="pagination">
                    <div class="list">
                        <button type="button" class="btn-reset bullet active"></button>
                        <button type="button" class="btn-reset bullet"></button>
                        <button type="button" class="btn-reset bullet"></button>
                    </div>
                </div>
                <div class="navigation">
                    <button type="button" class="btn-reset arrow left"><span class="icon-arrow"></span></button>
                    <button type="button" class="btn-reset arrow right"><span class="icon-arrow"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- SEPATEUR -->
    <div class="rectangle"><p class="separator-text">Comment ca marche?</p>
    </div>
    <!-- Comment ca marche? -->
    <div class="bloc-tarif" id="working">
        <p class="p-offre">Après vous être inscrit sur notre site internet <br>
            ou en borne, retirez votre badge vous permettant de récuper votre scooter
            <br>dans nos 550 bornes partout en région Île-de-France.
        </p>
        <img class="cercle1" src="../web/img/cercle.png" alt="cercle">
        <img class="icon-men" src="../web/img/men.png" alt="men">
        <img class="cercle2" src="../web/img/cercle.png" alt="cercle">
        <img class="icon-reservation" src="../web/img/icon-reservation.png" alt="reservation">
        <img class="cercle3" src="../web/img/cercle.png" alt="cercle">
        <img class="icon-main" src="../web/img/icon-main.png" alt="main">
        <img class="cercle4" src="../web/img/cercle.png" alt="cercle">
        <img class="icon-scooter" src="../web/img/icon-scooter.png" alt="rouler">
        <img class="cercle5" src="../web/img/cercle.png" alt="cercle">
        <img class="icon-parking" src="../web/img/icon-parking.png" alt="parking">
    </div>
    <!-- Separateur -->
    <div class="bloc-station" id="plan">
        <div class="rectangle-2"><p class="separator-text">Plans des stations</p>
            <input class="recherche" type="text" name="recherche" placeholder="Saisir un lieu">
            <input class="ok-recherche" type="submit" value="Recherche">
            <img class="map" src="img/map.png" alt="map">
        </div>
    </div>
    <!-- Offres et tarifs -->
    <div class="bloc-offre" id="offers">
        <div class="rectangle-3"><p class="separator-text">Offres et tarifs</p>
            <div class="forme-tarif">
                <div class="bloc-formule"><p class="text-formule-1">Scootlib' 1 semaine</p>
                </div>
                <p class="prix">8€</p><p class="jours">/semaine</p>
                <p class="plus">+</p><p class="text-plus"> 6.5€ par 1/2 heure d'utilisation</p>
                <p class="text-body">Scootlib’ 1 semaine est utilisé par les personnes <br>qui souhaitent se déplacer de façon ponctuelle
                    <br>sur une semaine.</p>
                <input type="button" class="bouton-offres" value="Souscrire à cette offre">
            </div>
            <div class="forme-tarif-2">
                <a class="bloc-formule-2" href=""><p class="text-formule-2">Scootlib' 1 mois</p></a>
                <p class="prix">20€</p><p class="jours">/mois</p>
                <p class="plus">+</p><p class="text-plus"> 6€ par 1/2 heure d'utilisation</p>
                <p class="text-body">Scootlib 1 mois est adapté aux personnes qui <br>ont besoin de disposer d’un scooter sur
                    <br>plusieurs semaines.</p>
                <input type="button" class="bouton-offres" value="Souscrire à cette offre">
            </div>
            <div class="forme-tarif-3">
                <div class="bloc-formule"><p class="text-formule-3">Scootlib' 1 an</p>
                    <p class="prix-3">96€</p><p class="jours-3">/an</p>
                    <p class="plus-3">+</p><p class="text-plus-3"> 5€ par 1/2 heure d'utilisation</p>
                    <p class="text-body-3">Scootlib’ 1 an est recommandé aux personnes <br>qui veulent disposer d’un scooter à tout<br>
                        moment et tout au long de l’année au tarif <br>le plus avantageux.</p>
                    <input type="button" class="bouton-offres" value="Souscrire à cette offre">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
