{% extends "layout.html" %}
{% block title 'Accueil' %}
{% block content %}


    <ul class="rslides">
        <li><img src="./img/scooter.jpg" alt=""/></li>
    </ul>

    <div class="text-center icon-section"><img src="./img/comment-ca-marche-icon-slider.png" alt=""/></div>

    <section id="presentation" class="text-center">

        <p class="col-lg-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>

        <div class="col-lg-12">
            <div class="service col-lg-2">
                <img src="./img/men.png" alt=""/>
                <div class="title">Je m'abonne</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-reservation.png" alt=""/>
                <div class="title">Je réserve</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-main.png" alt=""/>
                <div class="title">Je loue</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-scooter.png" alt=""/>
                <div class="title">Je roule</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-parking.png" alt=""/>
                <div class="title">Je me gare</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</div>
            </div>
        </div>

    </section>

    <div class="text-center icon-section-bis"><img src="./img/plan-station.png" alt=""/></div>

    <section id="map">
        <input type="text" placeholder="Adresse, ville, code postal, métro"/>
    </section>

    <div class="text-center icon-section"><img src="./img/offres-et-tarifs.png" alt=""/></div>

    <section class="text-center container">

        <div class="subscribe col-lg-3 text-center">
            <div class="head">Scootlib’ 1 semaine</div>
            <div class="duration col-lg-12 text-right">/7 jours</div>
            <div class="price">10€</div>
            <div class="subprice">+ 7€ par 1/2 heure d'utilisation</div>
            <div class="content">Scootlib’ 1 semaine est utilisé par les personnes qui souhaitent se déplacer de façon ponctuelle sur une semaine. Le badge doit être retiré en espace d'abonnement.</div>
        </div>

        <div class="subscribe col-lg-3 text-center active">
            <div class="head">Scootlib’ 1 mois</div>
            <div class="duration col-lg-12 text-right">/mois</div>
            <div class="price">25€</div>
            <div class="subprice">+ 6,5€ par 1/2 heure d'utilisation</div>
            <div class="content">Scootlib’ 1 semaine est utilisé par les personnes qui souhaitent se déplacer de façon ponctuelle sur une semaine. Le badge doit être retiré en espace d'abonnement.</div>
        </div>

        <div class="subscribe col-lg-3 text-center">
            <div class="head">Scootlib’ 1 ans</div>
            <div class="duration col-lg-12 text-right">/ans</div>
            <div class="price">120€</div>
            <div class="subprice">+ 5,5€ par 1/2 heure d'utilisation</div>
            <div class="content">Scootlib’ 1 semaine est utilisé par les personnes qui souhaitent se déplacer de façon ponctuelle sur une semaine. Le badge doit être retiré en espace d'abonnement.</div>
        </div>

    </section>


    <section id="question" class="text-center">
        <p>Des questions ? N’hésitez pas à nous contacter !</p>
        <a href="#" class="button">Contact</a>
    </section>
    
{% endblock %}
