{% extends "layout.html" %}
{% block title 'Accueil' %}
{% block content %}


    <ul class="rslides">
        <li><img src="./img/scooter.jpg" alt=""/></li>
    </ul>

    <div class="text-center icon-section"><img src="./img/comment-ca-marche-icon-slider.png" alt=""/></div>

    <section id="presentation" class="text-center">

        <p class="col-lg-6">Après vous être inscrit sur notre site internet <br>
            ou en borne, retirez votre badge vous permettant de récuper votre scooter
            dans nos 550 bornes partout en région Île-de-France.</p>

        <div class="col-lg-12">
            <div class="service col-lg-2">
                <img src="./img/men.png" alt=""/>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-reservation.png" alt=""/>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-main.png" alt=""/>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-scooter.png" alt=""/>
            </div>

            <div class="service col-lg-2">
                <img src="./img/icon-parking.png" alt=""/>
            </div>
        </div>

    </section>

    <div class="text-center icon-section-bis"><img src="./img/plan-station.png" alt=""/></div>

    <section id="map">
        <input type="text" placeholder="Adresse, ville, code postal, métro"/>
    </section>

    <div class="text-center icon-section"><img src="./img/offres-et-tarifs.png" alt=""/></div>

    <section class="text-center container" id="offers">

        <div class="subscribe col-lg-3 text-center">
            <div class="head">Scootlib’ 1 semaine</div>
            <div class="duration col-lg-12 text-right">/7 jours</div>
            <div class="price">8€</div>
            <div class="subprice">+ 6.5€ par 1/2 heure d'utilisation</div>
            <div class="content">Scootlib’ 1 semaine est utilisé par les personnes qui souhaitent se déplacer de façon ponctuellesur une semaine.</div>
            <a href="#">Souscrire à cette offre</a>
        </div>

        <div class="subscribe col-lg-3 text-center active">
            <div class="head">Scootlib’ 1 mois</div>
            <div class="duration col-lg-12 text-right">/mois</div>
            <div class="price">20€</div>
            <div class="subprice">+ 6€ par 1/2 heure d'utilisation</div>
            <div class="content">cootlib 1 mois est adapté aux personnes qui ont besoin de disposer d’un scooter sur plusieurs semaines.</div>
            <a href="#">Souscrire à cette offre</a>
        </div>

        <div class="subscribe col-lg-3 text-center">
            <div class="head">Scootlib’ 1 ans</div>
            <div class="duration col-lg-12 text-right">/ans</div>
            <div class="price">96€</div>
            <div class="subprice">+ 5€ par 1/2 heure d'utilisation</div>
            <div class="content">Scootlib’ 1 an est recommandé aux personnes qui veulent disposer d’un scooter à tout moment et tout au long de l’année au tarif  le plus avantageux.</div>
            <a href="#">Souscrire à cette offre</a>
        </div>

    </section>
    
{% endblock %}
