<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title '' %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/responsiveslides.css"/>
    <link rel='stylesheet' href='css/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <script src="js/script.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>


<header>
    <div class="container">
        <ul class="pull-left">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Comment ça marche?</a></li>
            <li><a href="#">Plan des stations</a></li>
            <li><a href="#">Offres et tarifs</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="pull-right">
            <a href="#" class="button">Connexion</a>
            <a href="#" class="button">inscription</a>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<!-- Footer -->
<div class="footer">
    <div class="container">
        <ul class="pull-left">
            <li><a href="index.php?p=home">Accueil</a></li>
            <li><a href="index.php?p=working">Comment ca marche?</a></li>
            <li><a href="index.php?p=#plan">Plan des stations</a></li>
            <li><a href="index.php?p=#offers">Offres et tarifs</a></li>
            <li><a href="index.php?p=#faq">FAQ</a></li>
            <li><a href="index.php?p=contact">Contact</a></li>
        </ul>
        <div class="pull-right">
            <img class="logo-twitter" src="../web/img/logo-twitter.png" alt="twitter">
            <img class="logo-facebook" src="../web/img/logo-facebook.png" alt="facebook">
            <img class="logo-google" src="../web/img/logo-google.png" alt="google">
            <img class="logo-youtube" src="../web/img/logo-youtube.png" alt="youtube">
            <img class="logo-googleplay" src="../web/img/google-play.jpg" alt="google-play">
            <img class="logo-apple" src="../web/img/apple-store.png" alt="apple-store">
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="./js/responsiveslides.min.js"></script>
</body>
</html>