{% extends "layout.html" %}
{% block title 'Connexion' %}
{% block content %}

    <div class="container">
        <p class="connexion etat">Connexion</p><br>
        <form method="post" action="index.php?p=userConnexion">
            <p style="margin-left: 200px;" class="Nom-utilisateur">Nom d'utilisateur:</p><input class="inputPseudo" type="text" name='login' placeholder="Saisir un pseudo">
            <p style="margin-left: 200px;" class="pwd-utilisateur">Mot de passe:</p><input class="inputPwd" type="password" name='password' placeholder="Saisir un mot de passe"><br>
            <input class="buttonReg" type="submit" value="Connexion" onclick="location.href='index.php?p=home'">
        </form>
        <a class="inscrire" href="index.php?p=signIn" style="margin-left: 200px;">Vous inscrire</a>
    </div>
{% endblock %}