{% extends "layout.html" %}
{% block title 'Inscription' %}
{% block content %}
</div>
<div class="bloc-inscription-suite">
    <p class="info-perso">Etape 2/2: Pièces à fournir</p><br><br><br>
    <p class="texte-finalisation">Pour finaliser votre inscription certains documents sont necessaires. </p>
    <p class="piece-identite">Une pièce d'identité différente du permis</p>
    <form>
        <input type='file' name='motiv' class="file" />
    </form>
    <p class="piece-identite">Une permis A, A2 ou un BSR</p>
    <form>
        <input type='file' name='motiv' class="file" />
    </form>
    <input type="button" class="bouton-validation" value="Valider" onclick="location.href='index.php?p=home'">
</div>


{% endblock %}