@font-face{
	width: 100%;
	height: 100%;
	font-family:'Lato-Regular';
	src:url('Lato-Regular.ttf');
}
@font-face{
	width: 100%;
	height: 100%;
	font-family:'Lato-Bold';
	src:url('Lato-Bold.ttf');
}
@font-face{
	width: 100%;
	height: 100%;
	font-family:'aaa';
	src:url('Lato-Italic.ttf');
}

@font-face{
	width: 100%;
	height: 100%;
	font-family:'coucou';
	src:url('Pacifico.ttf');
}


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	width: 1920px;
	height: 100%;
	position: absolute;
}

.menu{
	width: 1920px;
	height: 60px;
	background-color:#8fbe00;
	position: absolute;
}
li{
	float:left;
	display:inline;
	margin-left: 80px;
	margin-top: 20px;
	font-size:15px;
	font-family: 'Lato';
	font-style: italic;
}
.lien-logo{
	position: fixed;
	text-transform: uppercase;
	margin-top:-10px;
	margin-left: -70px;
	font-size: 30px;
	text-decoration: none;
	display:inline;
	color:white;
	font-family: 'Lato';
	font-weight: bold;
	font-style: italic;
}
.lien-menu{
	text-transform: uppercase;
	margin-left: 55px;
	font-size: 17px;
	color: #555555;
	text-decoration: none;
	display:inline;
	color:white;
	font-family:"aaa";
}

a.lien-menu:hover{
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
	border-bottom: solid white 3px;
}

.lien-connect{position: fixed;
	margin-top:5px;
	margin-left: -50px;
	border-width:1px;
 border-style:solid;
 border-color:white;
 padding:0 30px;
 text-decoration: none;
 color: white;
}

.lien-inscription{position: fixed;
	margin-top:5px;
	margin-left: 30px;
border-width:1px;
 border-style:solid;
 border-color:white;
 padding:0 30px;
 text-decoration: none;
 color: white;

}
/*Contact*/
.bloc-contact{position: relative;
	margin-left: 200px;
	margin-top:60px;
	width: 1550px;
	height:890px;
	background-color: #f6f6f6;
}
.contact-scoot{	
position: absolute;
color: #1f9cb6;
font-style: italic;
font-size: 30px;
font-family: 'lato';
margin-left: 100px;
margin-top:100px;
}

.question{
	position: absolute;
	font-family: 'lato';
	font-style: italic;
	font-size:20px;
	margin-left: 100px;
	margin-top:150px;
}
.nom{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 100px;
	margin-top:250px;
}
.input-nom{
	position: absolute;
	margin-left: 100px;
	margin-top:280px;
	width: 450px;
}
.mail{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 100px;
	margin-top:350px;
}


.input-mail{
position: absolute;
	margin-left: 100px;
	margin-top:380px;
	width: 450px;
}
.message{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 100px;
	margin-top:450px;
}
.input-message{
	position: absolute;
	margin-left: 100px;
	margin-top:480px;
	width: 450px;
	height: 100px;
}

.button{
		position:absolute;
	margin-top: 600px;
	margin-left: 400px;
	width: 150px;
	height:40px;
	background-color:#1f9cb6;
	color:white;
	border-radius: 5px;
	border-color:white 10px;
	text-transform: uppercase;
	font-size: 20px;
}

.contact-client{
	position: absolute;
color: #1f9cb6;
font-style: italic;
font-size: 20px;
font-family: 'lato';
margin-left: 700px;
margin-top:200px;
}

.numero{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 700px;
	margin-top:250px;
}
.ecrire{
	position: absolute;
color: #1f9cb6;
font-style: italic;
font-size: 20px;
font-family: 'lato';
margin-left: 700px;
margin-top:450px;
}
.adresse-ecrire{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 700px;
	margin-top:500px;
}
.centre{
	position: absolute;
color: #1f9cb6;
font-style: italic;
font-size: 20px;
font-family: 'lato';
margin-left: 1200px;
margin-top:200px;
}
.adresse-centre{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 1200px;
	margin-top:250px;
}
.reclamation{
	position: absolute;
color: #1f9cb6;
font-style: italic;
font-size: 20px;
font-family: 'lato';
margin-left: 1200px;
margin-top:450px;
}
.adresse-reclamation{
	position: absolute;
	font-family: 'lato';
	font-style:italic;
	font-size: 20px;
	margin-left: 1200px;
	margin-top:500px;
}

hr
{position: absolute;
   width: 100%;
   height: 3px;
   margin-top: 750px;
}

.ul-flooter{
	position: absolute;
	margin-top: 800px;
	
}
.lien-floot{
	text-decoration: none;
}

.logo-twitter{
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 1350px;
	margin-top:800px;
}

.logo-facebook{
	float: left;
	width: 30px;
	height: 30px;
	margin-top:800px;
}
.logo-google{
	float: left;
	width: 35px;
	height: 45px;
	margin-top:790px;
}
.logo-youtube{
	float: left;
	width: 50px;
	height: 50px;
	margin-top:790px;
}
