
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







header {
    background: #8fbe00;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
header .logo {}
header ul {
    padding: 0;
    margin: 0;
}
header ul li{
    display: inline-block;
    padding: 10px 20px;
}
header ul li a{
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: 'Lora';
}
header ul li a:hover {
    text-decoration: none;
    color: white;
}
header .button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: 'Lora';
    margin: 0 5px;
}




section {
    margin: 40px 0;
    position: relative;
    overflow: hidden;
}



.icon-section {
    position: relative;
    margin-top: -22px;
    z-index: 9;
}
.icon-section-bis {
    position: relative;
    z-index: 9;
}


#presentation {}
#presentation p:first-child{
    font-family: 'Lato';
    float: none;
    padding: 40px 0 70px 0;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
}

.service {
    margin: 0 20px;
}
.service img {
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #999999;
}
.service .title {
    margin: 10px 0;
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
}
.service .content {
    color: #a0a0a0;
    font-family: 'Lato';
    font-style: italic;
}


#map {
    margin: 0;
    margin-top: -24px;
    background: url(../img/Map.png);
    height: 500px;
    background-size: 100%;
}
#map input {
    border: 1px solid #b4b4b4;
    margin-top: 30px;
    margin-left: 20px;
    height: 30px;
    width: 282px;
    padding: 10px;
    font-style: italic;
}



.subscribe {
    padding: 0;
    border: 1px solid #40c0cb;
    margin: 0 40px;
}
.subscribe.active .head {
    background: #8fbe00;
    padding: 10px 0;
    font-style: italic;
    font-family: 'Lato';
    font-size: 14px;
    color: white;
}
.subscribe .head {
    background: #40c0cb;
    padding: 10px 0;
    font-style: italic;
    font-family: 'Lato';
    font-size: 14px;
    color: white;
}
.subscribe .duration {
    margin-top: 10px;
    color: #b0b0b0;
    margin-bottom: 10px;
}
.subscribe .price {
    margin: 20px 0;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Lato';
    font-style: italic;
}
.subscribe .subprice {
    color: #b0b0b0;
}
.subscribe .content{
    padding: 30px;
    margin-top: 20px;
    font-family: 'Lato';
    font-size: 14px;
    color: #838282;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bold;
}

#question {
    background: #8fbe00;
    padding: 20px 0;
    margin-bottom: 0;
}
#question p {
    padding: 0;
    margin: 0;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
}
#question .button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: 'Lora';
    margin: 0 5px;
}




.footer {
    margin: 0;
    position: relative;
    overflow: hidden;
    padding: 15px 0;
}
.footer ul{
    padding: 0;
    margin: 0;
}
.footer ul li {
    display: inline-block;
    margin: 0 20px;
}
.footer ul li a {
    color: #c4c4c4;
    text-decoration: none;
}
.footer img {
    display: inline-block;
    width: 20px;
}